.title{
    color: #000000;
    font-family:  AdobeInvisFont, Courier, MyriadPro-Regular;
}
.title1{
    color: #63d1ff;
    font-family:  AdobeInvisFont, Courier, MyriadPro-Regular;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.navigation {
    background-color: #35444f;
    text-align: center;
}
.navigation-link{
    display: inline-block;
    color: #f0f1f2;
    font-size: 20px;
    text-decoration: none;
    padding-bottom: 30px;
    padding-left: 30px;
    text-align: center;

}
.container1{
    display: inline-block;
    float: left;
    border: #35444f solid 1px;
    margin-top: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 50px;
}
.block-link{
    display: inline-block;
    color: #495863;
    font-size: 22px;
    text-decoration: none;
    text-align: left;
    padding-top: 25px;
    background-size: 200px;
}
 .block-link:hover{
     padding-left: 20px;
     background-color: #dbdbdb;

 }
.goat{
    border: #35444f solid 1px;
    height: 525px;
    width: 800px;

}
.container2{
   float: center;
    width: 400px;
    display: inline-block;
    margin: 50px 0 50px 0 ;
    text-align: center;
    padding-left: 220px;
}
.text1{
    margin-top: 5px;
}
.text2{
    width: 800px;
}
.navigation-link1{
    display: inline-block;
    color: #172431;
    font-size: 20px;
    text-decoration: none;

    padding-left: 30px;
    padding-top: 15px;

}
.navigation1{

    text-align: center;
    background: #b4b7ba;
    height: 50px;
}
.navigation-link:hover{
    background-color:#222f3a;
}
.navigation-link1:hover{
    color: #3181a6;
    text-decoration: underline;
}
.logo{
    display: inline-block;
    padding-left: 350px;
}